<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <bindings>

    <binding protocol="http" bindingInformation="*:5000:localhost" />
    <binding protocol="https" bindingInformation="*:5001:192.168.200.2" />
    <binding protocol="http" bindingInformation="*:5000:10.0.2.2" />
    <binding protocol="http" bindingInformation="*:5000:*" />
    <binding protocol="https" bindingInformation="*:5001:10.0.2.2" />
    <binding protocol="https" bindingInformation="*:5001:*" />
    </bindings>
</configuration>
